<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 .xml 파일을 호출하는 매퍼(PostMapper)를 정의합니다. -->
<mapper namespace="com.example.boardapp.mapper.PostMapper">

  <!-- 
  resultMap: 쿼리의 결과(result)를 객체와 매핑(Mapping)하는 방법을 정의합니다.
  resultMap을 활용해 객체 간 연관관계를 정의할 수 있습니다. 
  (데이터베이스에서 수행한 조인은 객체 간 연관관계를 의미합니다)
  type: 매핑되는 객체의 타입
  -->
  <resultMap id="postResultMap" type="com.example.boardapp.domain.Post">
    <!-- post_id 컬럼을 id 속성에 매핑합니다  -->
    <id property="id" column="post_id" />
    <!-- title 컬럼을 title 속성에 매핑합니다 -->
    <result property="title" column="title" />
    <!-- content 컬럼을 content 속성에 매핑합니다 -->
    <result property="content" column="content" />

    <!-- 
    연관 관계 (association)를 처리하는 부분 
    post의 member_id(외래키)를 Member 객체에 매핑하는 과정
    javaType: 이 객체(Post)와 연관된 객체의 자료형. Member
    -->
    <association property="member" javaType="com.example.boardapp.domain.Member">
      <!-- member_id 컬럼과 id 속성에 매핑 -->
      <id property="id" column="member_id" />
      <!-- username 컬럼과 username 속성에 매핑 -->
      <result property="username" column="username" />
    </association>
  </resultMap>


  <!-- 
  findAll: DB로부터 모든 게시물을 조회합니다. 예) 게시물 목록 페이지
  resultMap: 이 쿼리의 결과를 postResultMap에게 전달합니다.
  postResult: 데이터베이스에서 가져온 순수한 데이터(객체 아님)
  JOIN과 INNER JOIN은 같습니다. (OUTER JOIN도 있음)
  -->
  <select id="findAll" resultMap="postResultMap">
    SELECT p.id AS post_id, p.title, p.content, m.id AS member_id, m.username
    <!-- p.member_id = m.id : 게시물 작성자를 구하는 부분 -->
    FROM post p INNER JOIN member m ON p.member_id = m.id
    <!-- 게시물을 id 순으로 내림차순 정렬 (최신 게시물부터 볼 때) -->
    ORDER BY p.id DESC
  </select>


  <!-- 
  findById: 입력받는 id에 해당하는 게시물을 찾습니다
  매개변수 타입이 long(int보다 더 큰 자료형). 데이터베이스의 BIGINT랑 대응합니다
  게시물의 개수가 커지는 경우를 생각해서 long 타입을 사용합니다
  조인하는 이유: 게시물과 게시물의 작성자를 같이 보고 싶을 때 (대부분)
  -->
  <select id="findById" parameterType="long" resultMap="postResultMap">
    SELECT p.id AS post_id, p.title, p.content, m.id AS member_id, m.username
    FROM post p INNER JOIN member m ON p.member_id = m.id
    WHERE p.id = #{id}
  </select>
  

  <!-- 
  save: 게시물을 DB에 저장하는 메서드 
  -->
  <insert id="save" parameterType="com.example.boardapp.domain.Post" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO post (title, content, member_id) 
    VALUES (#{title}, #{content}, #{member.id})
  </insert>


  <!-- delete: 입력받는 id에 해당하는 게시물을 삭제합니다 -->
  <delete id="delete" parameterType="long">
    DELETE FROM post WHERE id = #{id}
  </delete>

</mapper>